.intro {
    background-color: $blueDark;
    background-image: url('/dist/assets/img/bg-intro.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: $white;
    position: relative;
    overflow: hidden;
    @include media_up($small) {
        height: 100vh;
    }
}
