// PHOTOS
.photo {
  background-image: linear-gradient(to bottom , $orange 66%, #000000 100%);
}
.photo-block-inner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: calculateRem(40px);
}
.photo-content {
    padding-top: calculateRem(20px);
}
.photo-content h2 {
    color: #fff;
}
.photo-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}
.photo-grid-item {

    width: 100%;
    padding-bottom: calculateRem(20px);
    @include media_up($small) {

    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3);
    margin: 10px;
    }
}
img {
    width: 100%;
}

.photo-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .photo-overlay img {
    max-width: 90%;
    max-height: 90%;
  }

// PAGINATION
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  
    a,
    span {
      display: inline-block;
      padding: 5px 10px;
      margin: 0 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      text-decoration: none;
      color: #333;
  
      &.current {
        background-color: #333;
        color: #fff;
      }
  
      &:hover {
        background-color: #f2f2f2;
      }
    }
  }

// VIDEOS
.video {
    background-image: linear-gradient(to bottom , #130076 2%,  $orange 100% );

}
.video-content {
    width: 100%;
    padding-top: calculateRem(20px);
}
.video-content h2 {
    color: #fff;
}

.video-item {
    width: 100%;
    height: calculateRem(300px);
}

.video-item p {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.video-item video {
    width: 100%;
    height: 255px;
}

.video-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    overflow: auto; /* add overflow property */
  }
  

  .close-button {
    position: absolute;
    top: 10px;
    right: calculateRem(50px);
    font-size: calculateRem(56px);
    font-weight: 900;
    border: 2px solid #fff;
    padding: calculateRem(1px) calculateRem(15px);
    cursor: pointer;
    color: #fff;
    z-index: 1;
  }
  
  .video-overlay video {
    width: auto; /* set width to auto */
    max-width: 100%; /* add max-width property */
    height: auto; /* set height to auto */
    max-height: 100%; /* add max-height property */
    position: relative;
  }
