
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}

h1 {
    font-weight: 900;
    font-family: "Courgette", cursive;
}

h2 {
    font-family: "Lilita One", sans-serif;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    border: none !important;
}

p {
    font-family: "Livic", sans-serif ;
    
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: $white;
    font-weight: 900;
}

ul {
    padding: 0 0 0 calculateRem(17px);
}