/* colors */
$blueDark: #1A185F;
$blueLight: #e2f3f9;
$red: #ff4655;
$orange: #f3a87d;
$white: #FEFEFF;
$pinkLight: #F792F5;
$purpleDark: #130F21;

/* sizes container */
$container: 1140px;

/* Police */
$mainPolice : 'Exo 2';
