
.footer {
    background-color: #222; 
    background-image: url('/dist/assets/img/lieu2.jpg');
    background-position: top;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
    height: calculateRem(380px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer > * {
    max-width: 800px;
    margin: 10px auto;
}

.footer p {
    font-size: calculateRem(28px);
    line-height: 1.6;
    font-weight: 800;

}

.footer h2, .footer h4 {
    font-size: calculateRem(40px);
    font-weight: 800;
    margin-bottom: 15px;
    font-family: 'Courgette', cursive;
}


.reseaux-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 15px;
}

.reseau-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reseau-item img {
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.reseau-item img:hover {
    transform: scale(1.2);
    opacity: 0.8;
}

.contact {
    font-size: calculateRem(16px) !important;
}

@media (max-width: 768px) {
    .footer p {
        font-size: 14px;
    }

    .reseaux-container {
        gap: 10px;
    }

    .reseau-item img {
        width: 35px;
        height: 35px;
    }
}
